
@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با ما</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما</h4>
                <p class="carbon-text">09926932699</p>
                <p class="carbon-text">03433497291</p>
                <p class="carbon-text">mortezaee@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-3">به فروشگاه ما خوش امدید</h1>
            <p class="lead">می توانید از طریق راه های ارتباطی با ما در تماس باشید</p>
            <hr class="my-4"/>
            <p></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button"></a>
            </p>
        </div>
    </div>
</div>
